@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
/* font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lobster&display=swap");
/* font-family: 'Lobster', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lobster&family=Montserrat:wght@300;500&display=swap");

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");

/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");

/* font-family: 'Fascinate Inline' */
/*-------------------------  FONTS SECTION  ----------------------------*/
:root {
   --primary-color: #683728;
   --primary-color-light: #bdd0fb;
   --secondary-color: #e4a74b;
   --secondary-color-light: #ffb7b2;
   --text-color: #111;
   --cardback-color: #f6f6f6;
   --mainback-color: #fff;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

main {
   box-sizing: border-box;
   background-color: var(--mainback-color) !important;
}

.halfblc {
   color: #4f4f4f;
}

/*! ----------------         NAVBAR SECTION               -------------------- */
.navi {
   background-color: var(--mainback-color) !important;
   color: var(--text-color) !important;
   display: flex;
   /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important; */
   padding: 0 20px;
}

.navi-logo {
   width: 80px;
   height: 80px;
}

.navi-links ul {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
}
.navi-links ul li {
   list-style: none;
   margin: 0 10px;
   font-size: 20px;
   text-decoration: none;
   cursor: pointer;
   position: relative;
}

.navi-links ul li:before {
   transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.navi-links ul li:before,
.navi-links ul li:after {
   content: "";
   left: 0;
   right: 0;
   position: absolute;
   pointer-events: none;
   bottom: -1px;
   z-index: 4;
   width: 100%;
}

.navi-links ul li:hover:before {
   border-bottom: 1px solid var(--secondary-color);
}

.navi-links ul li:before {
   transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   border-bottom: 2px solid transparent;
}

.navi-links ul li:hover:before {
   border-bottom: 1px solid var(--secondary-color);
   transform: scaleX(1);
}

.navi-links ul li:hover:after {
   border-bottom: 2px solid var(--secondary-color);
   transform: scaleX(1);
}

.navi-links ul li:after {
   content: "";
   transform: scaleX(0);
   transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
   will-change: transform;
   border-bottom: 2px solid var(--primary-color);
   border-bottom-color: var(--secondary-color);
}

.navi-links ul li a {
   text-decoration: none;
   color: white;
   font-family: "Inter", sans-serif;
   color: var(--text-color);
}

.mybtn-one {
   display: inline-block;
   padding: 0.5rem 1rem;
   background-color: transparent;
   border: 1px solid #4f4f4f;
   border-radius: 4px;
   transition: all 0.2s ease-in;
   position: relative;
   overflow: hidden;
   font-size: 19px;
   color: #111;
   z-index: 1;
}

.mybtn-one:before {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%) scaleY(1) scaleX(1.25);
   top: 100%;
   width: 140%;
   height: 180%;
   background-color: rgba(0, 0, 0, 0.05);
   border-radius: 50%;
   display: block;
   transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
   z-index: -1;
}

.button:after {
   content: "";
   position: absolute;
   left: 55%;
   transform: translateX(-50%) scaleY(1) scaleX(1.45);
   top: 180%;
   width: 160%;
   height: 190%;
   background-color: var(--secondary-color);
   border-radius: 50%;
   display: block;
   transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
   z-index: -1;
}

.mybtn-one:hover {
   color: #ffffff;
   border: 1px solid var(--secondary-color);
}

.mybtn-one:hover:before {
   top: -35%;
   background-color: var(--secondary-color);
   transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.mybtn-one:hover:after {
   top: -45%;
   background-color: var(--secondary-color);
   transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.mybtn-one a {
   text-decoration: none;
   color: var(--text-color);
}

/*! ----------------              HeroPage SECTION               -------------------- */
.landingpage {
   background-image: url("/backgroundmain.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   border-radius: 0 0 125px 125px;
}

.heropage .firstpart h1 {
   font-size: 60px;
   color: var(--text-color);
   margin-bottom: 8px;
   font-weight: 600;
   font-family: "Fascinate Inline";
}
.heropage .firstpart h2 {
   font-size: 45px;
   color: var(--secondary-color);
   margin-bottom: 1rem;
   font-weight: 600;
   font-family: "Fascinate Inline";
}

.spani {
   color: var(--primary-color);
   font-family: "Lobster", cursive;
   font-weight: 300;
}
.heropage .firstpart p {
   font-size: 1rem;
   color: #4f4f4f;
   margin-bottom: 1rem;
   font-weight: 500;
   font-family: "Montserrat", sans-serif;
   padding-right: 8rem;
}

/* btn */
.btni-outline {
   display: inline-block;
   padding: 0.5rem 1rem;
   background-color: transparent;
   border: 1px solid var(--primary-color);
   transition: all 0.2s ease-in;
   position: relative;
   overflow: hidden;
   color: var(--primary-color);
   z-index: 1;
}
.btni-outline a {
   text-decoration: none;
   color: var(--primary-color);
}
.btni-outline::before {
   content: "";
   width: 0;
   height: 300%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
   background: var(--primary-color);
   transition: 0.5s ease;
   display: block;
   z-index: -1;
}

.btni-outline:hover::before {
   width: 105%;
}

.btni-outline:hover {
   color: white;
}
.btni-outline:hover a {
   color: white;
}
.btni-full {
   display: inline-block;
   padding: 0.5rem 1rem;
   background-color: var(--primary-color);
   border: 1px solid var(--primary-color);
   transition: all 0.2s ease-in;
   position: relative;
   overflow: hidden;
   color: white;
   z-index: 1;
}
.btni-full a {
   text-decoration: none;
   color: white;
}
.btni-full:hover {
   filter: brightness(90%);
}
/*! ----------------           Cards               -------------------- */
.add-to-cart-button {
   background-color: var(--primary-color);
   color: #ffffff;
   border-radius: 50%;
   width: 35px;
   height: 35px;
}
/*! ----------------           Screen               -------------------- */
@media screen and (max-width: 768px) {
   .navi-links ul li {
      font-size: 14px;
   }
   .navi {
      padding: 0 10px;
   }
   .mybtn-one {
      font-size: 14px;
      padding: 0.5rem 0.5rem;
   }
   .navi-links ul li {
      margin: 0 5px;
   }
   .heropage .firstpart {
      padding: 2rem;
   }
   .heropage .firstpart h1 {
      font-size: 2rem;
   }
   .heropage .firstpart h2 {
      font-size: 1.5rem;
   }
   .heropage .firstpart p {
      padding-right: 1rem;
      font-size: 1rem;
      font-weight: 300;
   }
   .statics p {
      font-size: 0.4rem;
   }
   .works h5,
   .linee h5,
   .about-me h6,
   .Contact-me h6 {
      font-size: 0.8rem;
   }

   /* .about-me .secondpart h1 {
      font-size: 1.2rem;
   }
   .about-me .secondpart h5 {
      font-size: 0.6rem;
   } */
}

@media screen and (max-width: 400px) {
   .mybtn-one {
      font-size: 12px;
      padding: 0.25rem 0.25rem;
   }
}

@media screen and (min-width: 1064px) {
   .profile-pic {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
   .heropage .secondpart {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
}

@media screen and (min-width: 1420px) {
   .profile-pic {
      width: 80%;
      align-items: flex-end !important;
      display: flex;
      justify-content: flex-end;
   }
   .heropage .secondpart {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
}
